.profile__avatar {
    max-width: 120px;
    border-radius: 50% 50%;
    grid-row: 1/-1;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    
    .profile__avatar {
        grid-row: 1/1;
        grid-column: 1/-1;
        width: 100%;
        border-radius: 50% 50%;
        margin: auto;
    }
}