.popup__button_disabled {
    opacity: 0.2;
    cursor: default;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.popup__button_disabled:hover:default {
    opacity: 0.2;
    cursor: default;
}