.popup-img__button {
    min-width: 40px;
    min-height: 40px;
    background-image: url('../../../image/Close\ Icon.svg');
    background-size: cover;
    background-color:  rgba(151, 53, 53, 0);
    border: 0;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -41px;
   
}

.popup-img__button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px){

    .popup-img__button {
        margin-left: 255px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .popup-img__button {
        margin-left: 450px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    
    .popup-img__button {
        margin-left: 450px;
    }
}