.profile__title {
    width: 100%;
    font-weight: 500;
    font-size: 42px;
    line-height: 0.4;
    background-color: #000000;
    border: 0;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 320px) {

    .profile__title {
        font-size: 27px;
        line-height: 1.2;
        text-align: center;
    }
}