.profile__button {
    min-width: 24px;
    min-height: 24px;
    align-self: end;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    padding: 0;
}

@media screen and (max-width: 320px) {
    
    .profile__button {
        min-width: 18px;
        min-height: 18px;
    }
}