.popup__button {
    width: calc(100% - 72px);
    min-height: 50px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    border: 0;
    
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    
    .popup__button {
        width: calc(100% - 44px);
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 14px;
    }
}